### File Merge for models

### Prophet model without x.test 2018 to 2019

In [14]:
import pandas as pd
import numpy as np

In [2]:
df_18 = pd.read_csv('2018_prophet.csv')

In [4]:
df_19 = pd.read_csv('2019_prophet.csv')

In [5]:
merge1819 = pd.concat((df_18, df_19))

In [6]:
merge1819 = merge1819.reset_index(drop=True)

In [7]:
merge1819

           Date   Total
0    2018-04-26  154847
1    2018-04-27  115404
2    2018-04-28  214596
3    2018-04-29  266887
4    2018-04-30  243023
..          ...     ...
529  2019-12-27  125906
530  2019-12-28  144381
531  2019-12-29  177919
532  2019-12-30  172197
533  2019-12-31  149889

[534 rows x 2 columns]

In [10]:
merge1819.to_csv('2018-2019_prophet.csv')

### Prophet model with  x.test 2018 to 2020-Jan

In [12]:
df_20 = pd.read_csv('2020_prophet.csv')

In [19]:
split_date='2020-02-01'
january = df_20.loc[df_20.Date < split_date].copy()

In [21]:
merge181920j = pd.concat((merge1819, january))

In [22]:
merge181920j = merge181920j.reset_index(drop=True)

           Date   Total
0    2018-04-26  154847
1    2018-04-27  115404
2    2018-04-28  214596
3    2018-04-29  266887
4    2018-04-30  243023
..          ...     ...
555  2020-01-26  166096
556  2020-01-27   99064
557  2020-01-28   65286
558  2020-01-30   92291
559  2020-01-31  101845

[560 rows x 2 columns]