# Cleaning transactions 2019

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('transactions-2019-utf8.csv', encoding='UTF-8', sep = '\t')

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (17,18,35) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,Date,Time,Time Zone,Gross Sales,Discounts,Net Sales,Gift Card Sales,Tax,Tip,Partial Refunds,...,Device Nickname,Deposit ID,Deposit Date,Deposit Details,Fee Percentage Rate,Fee Fixed Rate,Refund Reason,E-money,Discount Name,Transaction Status
0,12/31/19,13:56:36,Tokyo,¥308,¥0,¥308,¥0,¥24,¥0,¥0,...,Nawate Cafe 1,NaN,NaN,NaN,NaN,NaN,NaN,¥0,NaN,Complete
1,12/31/19,13:55:34,Tokyo,"¥1,225",¥0,"¥1,225",¥0,¥98,¥0,¥0,...,Nawate Cafe 3,NaN,NaN,NaN,NaN,NaN,NaN,¥0,NaN,Complete
2,12/31/19,13:50:27,Tokyo,¥168,¥0,¥168,¥0,¥13,¥0,¥0,...,Nawate Cafe 3,NaN,NaN,NaN,NaN,NaN,NaN,¥0,NaN,Complete
3,12/31/19,13:48:57,Tokyo,¥557,¥0,¥557,¥0,¥46,¥0,¥0,...,Nawate Cafe 3,3Z6XBTC4HG348YN7ZZBY12E74TQH,01/06/20,https://squareup.com/dashboard/sales/deposits/...,3.25,¥0,NaN,¥0,NaN,Complete
4,12/31/19,13:41:17,Tokyo,¥345,¥0,¥345,¥0,¥27,¥0,¥0,...,Nawate Cafe 1,NaN,NaN,NaN,NaN,NaN,NaN,¥0,NaN,Complete

In [4]:
df = df[['Date', 'Time', 'Total Collected']]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48742 entries, 0 to 48741
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             48742 non-null  object
 1   Time             48742 non-null  object
 2   Total Collected  48742 non-null  object
dtypes: object(3)
memory usage: 1.1+ MB

In [6]:
# Cleaning Date
df.Date=pd.to_datetime(df.Date)

In [7]:
# Cleaning Time
df['Time'] = pd.to_timedelta(df['Time'], unit='s')

In [8]:
# Cleaning Total Collected
df['Total Collected'] = df['Total Collected'].str.replace('¥', '')
df['Total Collected'] = df['Total Collected'].str.replace(',', '')
df['Total Collected'] = df['Total Collected'].astype(int)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48742 entries, 0 to 48741
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             48742 non-null  datetime64[ns]
 1   Time             48742 non-null  timedelta64[ns]
 2   Total Collected  48742 non-null  int64
dtypes: datetime64[ns](1), int64(1), timedelta64[ns](1)
memory usage: 1.1 MB

In [10]:
df.head()

        Date     Time  Total Collected
0 2019-12-31 13:56:36              332
1 2019-12-31 13:55:34             1323
2 2019-12-31 13:50:27              181
3 2019-12-31 13:48:57              603
4 2019-12-31 13:41:17              372

In [11]:
# To delete returns 
df=df.drop(df[df['Total Collected'] < 0].index)

In [13]:
# Renaming
df.rename(columns={'Total Collected':'Total'}, inplace=True)

In [14]:
df_19=df.groupby(['Date']).sum()

In [15]:
df_19.head()

             Total
Date
2019-01-02  470812
2019-01-03  342462
2019-01-04  264550
2019-01-05  226283
2019-01-06  216036

In [16]:
df_19.to_csv('2019_prophet.csv')