### File Merge for models

### Prophet model without x.test 2018 to 2019

In [14]:
import pandas as pd
import numpy as np

In [2]:
df_18 = pd.read_csv('2018_prophet.csv')

In [4]:
df_19 = pd.read_csv('2019_prophet.csv')

In [5]:
merge1819 = pd.concat((df_18, df_19))

In [28]:
merge1819['Date'] = pd.to_datetime(merge1819['Date'])

In [29]:
merge1819 = merge1819.reset_index(drop=True)

In [30]:
merge1819

          Date   Total
0   2018-04-26  154847
1   2018-04-27  115404
2   2018-04-28  214596
3   2018-04-29  266887
4   2018-04-30  243023
..         ...     ...
529 2019-12-27  125906
530 2019-12-28  144381
531 2019-12-29  177919
532 2019-12-30  172197
533 2019-12-31  149889

[534 rows x 2 columns]

In [31]:
merge1819.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534 entries, 0 to 533
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    534 non-null    datetime64[ns]
 1   Total   534 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 8.5 KB

In [33]:
merge1819.to_csv('2018-2019_prophet.csv')

### Prophet model with  x.test 2018 to 2020-Jan

In [34]:
df_20 = pd.read_csv('2020_prophet.csv')

In [35]:
split_date='2020-02-01'
january = df_20.loc[df_20.Date < split_date].copy()

In [36]:
merge181920j = pd.concat((merge1819, january))

In [37]:
merge181920j['Date'] = pd.to_datetime(merge181920j['Date'])

In [38]:
merge181920j = merge181920j.reset_index(drop=True)

In [39]:
merge181920j.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560 entries, 0 to 559
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    560 non-null    datetime64[ns]
 1   Total   560 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 8.9 KB

In [40]:
merge181920j.to_csv('2018-2020j_prophet.csv')